<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Using components
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ],
  href: "page-1",
  text: "Using components"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>
            Using components
        </h1>

        <h2>What is a component?</h2>

        <p>Components are reusable elements of the user interface. Such as buttons, text inputs and checkboxes.</p>

        <p>You can use individual components in different patterns and contexts. For example, you can use the text input component to ask for an email address, an NHS number or someone's name.</p>

        <h2>How to use components</h2>

        <p>The prototype kit has two ways to use components. You can either use HTML or a Nunjucks macro. (We will look at the pros of using Nunjucks vs HTML later on)</p>

        <p>To use a component, you simply copy the code snippet from the relevant page from the design system, and paste the snippet into the relevant file and block within said file (usually inside the content block).</p>

        <p>For example, if I wanted to add an inset text component to this page I would do the following:</p>

        <ol>
            <li>Browse to the <a href="https://service-manual.nhs.uk/design-system/components/inset-text" class="nhsuk-link" target="_blank">inset text page (opens in a new tab)</a> on the design system website
            
            <li>Select whether I wish to use HTML or Nunjucks, and copy the code snippet</li>

            <figure class="nhsuk-image">
                <img class="nhsuk-image__img" src="/images/inset-text.png" alt="Inset text example">
            </figure>
     
            <li>Paste the code snippet inside the relevant block inside the file for the page you wish the component to be displayed on and edit it accordingly</li>

            <figure class="nhsuk-image">
                <img class="nhsuk-image__img" src="/images/inset-text-2.png" alt="Inset text example">
            </figure>
     
            <li><Script></Script>ave the file and refresh the browser to see the component on your page like so:</li>
        </ol>

        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>Here is my example of a working inset text component.</p>
        </div>

        <h2>What is Nunjucks?</h2>

        <p>Nunjucks is a templating language that's powered by JavaScript. It's a way of extending HTML that lets us add logic, loops and various other capabilities.</p>
        <p>Nunjucks allows our templates to be dynamic, even though at the end, they'll generate static HTML. It's sort of like Sass, but for HTML rather than CSS.</p>

        <h2>Nunjucks vs HTML</h2>

        <ul>
            <li>Nunjucks allows you to easily pass data across pages - for example you could enter your name into a text input on one page, then on a check your answers page easily show the value you entered previously.</li>
            <li>You can also change the HTML that's generated by passing options into the Nunjucks code - for example I could have a component which is simply a square box, which could have an option for colour, and depending on the value I assign, could quickly and easily change the whole component to that colour.</li>
            <li>Nunjucks allows you to use loops, for example I could have 4 people, and I want to use a card component that shows their name and job title, in HTML I would have to write out 4 components and change the information manually, Nunjucks could allow me to use a foreach loop and automatically replace the name and job title accodingly.</li>
            <li>Arguably the best feature, if you use Nunjucks, your application will be easier to update when a new version of the toolkit is released. Instead of changing every page that uses the component, the macro will be updated and automatically update all the pages using it.</li>
        </ul>


        {{ pagination({
            "nextUrl": "page-2",
            "nextPage": "Customising components"
        }) }}
    </div>
</div>
{% endblock %}
